
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Prolab LIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * Dashboard - v1.0.0
    =========================================================
   
    -->
<link href="static/assets/css/main.css" rel="stylesheet"></head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'includes/sidebar.html' %}
    <div class="app-main__outer">
    {% block header %}
    {% endblock header %}
        {% block content %}{% endblock content %}
          {% include 'includes/footer.html' %}
          {% include 'includes/scripts.html' %}
</body>
</html>